
html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{

  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main{

  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo{

    font-size: 50px;
    color: white;
    margin-bottom: 15px;
    margin-top: 0;
}
.tagline{

  font-size: 20px;
  color: white;
}
button{

      height: 50px;
      width: 200px;
    padding: 10px 20px;
      background-color: blueviolet;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}
button:hover{
  background-color: white;
  color: blueviolet;
}
/*
Chat page
*/
.member-area{
position: fixed;
top: 0;
bottom: 0;
left: 0;
width: 30%;
background: navy;
color: white;

}
.user-info{
background: darkblue;
padding: 10px;
}
.logout{

  float: right;
}
.member{

  padding: 10px;
  border-bottom: solid 1px azure;
}
.member:hover{

  background: white;
  color: darkblue;
}
.message-area{

  background: azure;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}
.chat-info{

  background: white;
  padding: 10px;
  color: black;
}
.member.active{
  font-weight: bold;
  background-color: azure;
  color: darkblue;
}
.messages{

  background: lightblue;
  height: 100%;
  padding: 10px;
  overflow: auto;
}
.message{

  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

}
.message.by-user{

  background: gray;
}
.chat-form{

  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: white;
  padding: 20px;
}
.chat-message{

  border: solid 1px darkgray;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}
